%p<
  ==#{word_website} URL claiming is a network-based feature where we grab any #{word_website} URL that appears in your Twitter account's update stream and put it into your #{word_website} account automatically.
%p<
  ==You can set #{word_website} URL claiming ON or OFF for any Twitter accounts #{link_to "you have authorized", account_network_index_path} #{word_trim} to access.

%div#oauth_accounts
  =render :partial => "accounts"

=render :partial => "shared/separator"
%h3 What does this mean? ...
%p<
  ==#{word_website} URL claiming grabs any #{word_website} URL you send out via desktop Twitter clients, or any other software that has #{word_website} support, and puts these shared #{word_website} URLs into your #{word_website} account for you.
%p<
  ==Many Twitter clients have #{word_trim} support, but they do not send us your #{word_trim} username and password when they get you a #{word_trim} URL, so we cannot attach it your account. #{word_trim} URL Claiming solves this problem.

%p<
  ==For example, let's say you use a desktop client, such as Tweetdeck or Tweetie:
%ul
  %li== You create a #{word_trim} URL with your software of choice if it has #{word_trim} support.
  %li== You get a #{word_trim} URL, but it is not in your account because your username is not sent to us.
  %li== You share it on Twitter with one of your authorized accounts above.
  %li== We see the #{word_trim} URL in your Twitter stream, and put it in your account.
%p<
  ==So, with #{word_trim} you can create and share #{word_trim} URLs anywhere with any software that supports #{word_trim}, and still get a URL's unique statistics via your #{word_trim} account. Just ensure this feature is turned ON for each of your authorized Twitter accounts here and we take it from there.
%p<
  ==It sounds tricky and complicated, but it is really not. It is simple. We grab <i>your</i> URLs for you for any Twitter software you may use that supports #{word_trim}.
