%a{ :name => "account_visits" }
%h3 account_visits
%p<
  ==This method will return the #{word_trim} URLs for the authenticated #{word_trim} account with the visitation details. This is a heavier API method, so please use it only if you need the detailed information it contains. An API key is required to use this API method.
%p
  %span.linetitle< URL:
  ==http://api.#{word_trim}/v1/account_urls.&lt;format&gt;
  %br
  %span.linetitle< Method:
  GET
  %br
  %span.linetitle< Formats:
  xml, json
  %br
  %span.linetitle< Parameters:
  %br
  %table.apimethod
    =render :partial => "welcome/api/inline_apikey_r"
    %tr
      %td.optional count
      %td.optional Optional
      %td== The number of #{word_trim} URL data sets to return, from the most to the least recent. Defaults to 20 if not present. A maximum of 100 is permitted.
    =render :partial => "welcome/api/inline_account"
%p
  %span.linetitle< Response:
  %br
  %table.apimethod
    =render :partial => "welcome/api/inline_status"
    %tr
      %td.optional url_count
      %td The total URL count contained in the response.
    %tr
      %td.optional urls
      %td== A list of the returned #{word_trim} URLs and their individual visitation counts, with the date, time, and country.
    %tr
      %td.optional total_visits
      %td The total number of visits recorded for the returned URLs.

=render :partial => "shared/separator"
