%a{ :name => "FAQAPIKEYS" }
%h3== Do I need to get an API key to use the #{word_trim} API?
%p<
  ==No. You can access the main method to submit a destination URL and get a new #{word_trim} URL without an API key. However, to access any of the #{word_picim} methods to upload photos, or #{word_trim} account or URL statistics methods, you will need an API key. On the specification for each method we specify whether or not it requires an API key. Anyone can get an API key by emailing us at #{mail_to "api@tr.im"}.
